doctype html
html
  title="Khan Coaching Academy"
  head
    style
      include ../static/styleAlumni.css
  body
    nav#navbar
     ul
        img(src="../static/logo.jpg", alt="image")
        li #[a(href="/home") Home]
        li #[a(href="/alumni") Alumni ]
        li #[a(href="/scholarship") Scholarship ]
        li #[a(href="/gallery") Gallery ]
        li #[a(href="/centers") Centers ]
        li #[a(href="/about") About ]
        li #[a(href="/contact") Contact]
    h1#heading Our Alumni List 
    h1.heading Some of Our Shining Stars
    table(style='width:100%', border='2' class="table")
        tr
            th Name
            th Email
            th Designation
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td john
            td john@gmail.com
            td 80
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td john
            td john@gmail.com
            td 80
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td abch
            td abch@gmail.com
            td 27
        tr
            td john
            td john@gmail.com
            td 80
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td john
            td john@gmail.com
            td 80
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td rahul
            td rahul@gmail.com
            td 27
        tr
            td john
            td john@gmail.com
            td 80
        tr
            td Adam
            td Adam@gmail.com
            td 25
        tr
            td Adam
            td Adam@gmail.com
            td 25
    footer#footer 
      h2 © ℗ Khan Coaching Academy
      div.footer
        img(src="../static/facebook.jpeg")
        img(src="../static/twitter.jpeg")
        img(src="../static/linkedin.jpeg")
        img(src="../static/instagaram.jpeg")
        img(src="../static/email.jpeg")
    script 
      include ../static/index.js