doctype html
html
  title="Khan Coaching Academy"
  head
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        img(src="../static/logo.jpg", alt="image" title="Our Logo")
        li #[a(href="/") Home]
        li #[a(href="/alumni") Alumni ]
        li #[a(href="/scholarship") Scholarship ]
        li #[a(href="/gallery") Gallery ]
        li #[a(href="/centers") Centers ]
        li #[a(href="/about") About ]
        li #[a(href="/contact") Contact]
    div#container
      h1#heading Khan Coaching Academy 
      p.para Welcome To Our Gallery 
      p.para#para EAT SLEEP REPEAT LEARN CONQUER EXAM
    footer#footer 
      h2 © ℗ Khan Coaching Academy
      div.footer
        img(src="../static/facebook.jpeg")
        img(src="../static/twitter.jpeg")
        img(src="../static/linkedin.jpeg")
        img(src="../static/instagaram.jpeg")
        img(src="../static/email.jpeg")
    script 
      include ../static/index.js
    