*{
    margin:0%;
    padding:0%;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    background-color: rgb(3, 4, 6);
}
ul li{
    list-style-type: none;
}
ul img{
    height:50px;
    width:50px;
    border-radius: 25px;
}
#navbar li a:hover{
    background-color: rgb(173, 163, 25);  
    border-radius: 10px;
}
#navbar ul li{
    padding-top: 10px;
    padding-left: 30px;
    /* margin: 10px; */
    font-weight: bold;
    font-size: x-large;
    /* padding-top: 50px; */
    color: white;
    /* margin-top: 10px; */
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
#heading{
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
.heading{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer{
    background-color: rgb(5, 7, 9);
    color: white;
    text-align: center;
    height: 80px;
    width: auto;
    padding: 10px;
    /* margin-top: 4px; */
}
.footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
}
